<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Insta485</title>
    </head>
    <body>
        <header>
            <a href="{{ url_for('show_index')}}">
                <img src="{{ url_for('static', filename='images/ins_logo.png') }}" alt="Insta Logo" width="30" height="30">
            </a>
            <a href = "{{url_for('show_explore')}}">explore</a>
            <a href = "{{url_for('show_user', user_url_slug = logname) }}">{{logname}}</a>
        </header>

    <main>
        <p>{{logname}}</p>
                <!-- DO NOT CHANGE THIS -->
        <form action="{{url_for('accounts')}}?target={{url_for('create')}}" method="post" 
            enctype="multipart/form-data">
            <input type="submit" name="delete" value="confirm delete account"/>
            <input type="hidden" name="operation" value="delete"/>
        </form>
    </main>
    </body>
</html>

