<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Insta485</title>
</head>
<body>
    <header>
        <a href="{{ url_for('show_index') }}">
            <img src="{{ url_for('static', filename='images/ins_logo.png') }}" alt="Insta Logo" width="30" height="30">
        </a>
        <a href="{{ url_for('show_explore') }}">Explore</a>
        <a href="{{ url_for('show_user', user_url_slug=logname) }}">{{ logname }}</a>
    </header>

    <main>
        <form action="{{ url_for('accounts') }}?target={{ url_for('edit') }}" method="post" enctype="multipart/form-data">
            <input type="password" name="password" required/>
            <input type="password" name="new_password1" required/>
            <input type="password" name="new_password2" required/>
            <input type="submit" name="update_password" value="submit"/>
            <input type="hidden" name="operation" value="update_password"/>
        </form>

        <a href="{{ url_for('edit') }}">Back to edit account</a>
    </main>
</body>
</html>